<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <header>
     <div class="flex header-box container">
         <div>  <a href="/">Home</a></div>
      
        <h1 class="container">
            User Resource
        </h1>
     </div>
    </header>
    <main class="container">
        <p>
            Welcome to User Resources
        </p>
<div class="flex center">
    <div class="goto margin">
        <a href="/users/new">
            Goto Users creation Form
        </a>
    </div>
    <div class="goto margin">
        <a href="/users">
            Users List
        </a>
    </div>
</div>
      
    </main>
</body>
</html>