<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>User Form</title>
</head>
<body>
    <header>
      <div class="flex header-box container">
        <div>  <a href="/">Home</a></div>
        <h1>
            User Form
        </h1>
      </div>
    </header>
    <main>
        <div class="container flex userForm">

      
        <form action="/users" method="POST">
            <input type="text" placeholder="Enter your name" name="name">
            <input type="email" placeholder="Enter your email" name="email">
            <input type="number" placeholder="Enter your age" name="age">
            <input type="text" placeholder="Enter your profession" name="profession">
            <textarea name="address" id="" cols="30" rows="10" placeholder="Enter your address"></textarea>
            <input type="text" placeholder="Enter your hobbies" name="hobbies">
           
                <input type="submit" value="Add User">
         
        </form>
    </div>
    </main>
    
</body>
</html>