<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Users List</title>
</head>
<body>
    <header>
      <div class="flex header-box container">
        <div>  <a href="/">Home</a></div>
        <h1>
            Users List
        </h1>
      </div>
    </header>
    <main class="container">
        <ol>
           <% users.forEach(user=>{%>
            <ul>
               <li> <%=user.name %></li>
              
            </ul>
            <button>
                <a href="/users/<%= user._id%>">Show more</a>
            </button>
           <%})%>

         
        
        </ol>
    </main>
</body>
</html>